<h1>Daily Holdings Report</h1>
{% for tax_year in tax_report|sort %}
    {% if tax_year in daily_holdings_report %}
        <h2 style="text-align: center;">{{ config.format_tax_year(tax_year) }}</h2>

        <!-- report giornaliero -->

        <table repeat="1" width="100%" class="asset-table">
            <thead>
                <tr>
                    <th align="left">Date</th>
                    <th align="right">BTC Balance (Crypto+Fiat)</th>
                    <th align="right">EUR Value (Crypto+Fiat)</th>
                    <th align="right">BTC Balance (Only Crypto)</th> <!-- Nuova colonna per solo criptovalute -->
                    <th align="right">EUR Value (Only Crypto)</th> <!-- Nuova colonna per solo criptovalute -->
                    <th align="right">Missing Price</th> <!-- Colonna per il prezzo mancante -->
                </tr>
            </thead>
            <tbody>
                {% for report_date, daily_data in daily_holdings_report[tax_year].items() if report_date != 'average' %}
                <tr 
                    {% if daily_data.missing_price %} class="warning" 
                    {% elif tax_year <= 2022 and daily_data.eur_value_only_crypto > 51645.69 %} class="highlight" 
                    {% endif %}>
                    <!-- Evidenzia se il valore EUR solo crypto è maggiore di 51.645,69 per anni fino al 2022 -->
                    <td align="left">{{ report_date | format_date("%d-%m-%Y") }}</td>
                    <td align="right">{{ daily_data.btc_balance | format_decimal }}</td>
                    <td align="right">{{ daily_data.eur_value | valuefilter }}</td>
                    <td align="right">{{ daily_data.btc_balance_only_crypto | format_decimal }}</td> <!-- BTC solo criptovalute -->
                    <td align="right">{{ daily_data.eur_value_only_crypto | valuefilter }}</td> <!-- EUR solo criptovalute -->
                    <td align="right">
                        {% if daily_data.missing_price %}
                        <span class="missing-price-icon">⚠️</span> <!-- Icona per prezzo mancante -->
                        {% else %}
                        No
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Giacenza Media -->
        <h3>Average Balance</h3>
        <p>Average BTC Balance: {{ daily_holdings_report[tax_year]['average']['average_btc_balance'] | format_decimal }}</p>
        <p>Average EUR Value: {{ daily_holdings_report[tax_year]['average']['average_eur_value'] | valuefilter }}</p>
        <p>Average BTC Balance (Only Crypto): {{ daily_holdings_report[tax_year]['average']['average_btc_balance_only_crypto'] | format_decimal }}</p>
        <p>Average EUR Value (Only Crypto): {{ daily_holdings_report[tax_year]['average']['average_eur_value_only_crypto'] | valuefilter }}</p>

        {% else %}
        <p>No daily holdings report available for the year {{ tax_year }}.</p>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Tabella riepilogativa fuori dal ciclo -->
<h1>Summary of Average Balances per Year</h1>
<table width="100%" class="asset-table">
    <thead>
        <tr>
            <th align="left">Year</th>
            <th align="right">Average BTC Balance</th>
            <th align="right">Average EUR Value</th>
            <th align="right">Average BTC Balance (Only Crypto)</th>
            <th align="right">Average EUR Value (Only Crypto)</th>
        </tr>
    </thead>
    <tbody>
        {% for tax_year in tax_report|sort %}
        {% if tax_year in daily_holdings_report and 'average' in daily_holdings_report[tax_year] %}
        <tr>
            <td align="left">{{ tax_year }}</td>
            <td align="right">{{ daily_holdings_report[tax_year]['average']['average_btc_balance'] | format_decimal }}</td>
            <td align="right">{{ daily_holdings_report[tax_year]['average']['average_eur_value'] | valuefilter }}</td>
            <td align="right">{{ daily_holdings_report[tax_year]['average']['average_btc_balance_only_crypto'] | format_decimal }}</td>
            <td align="right">{{ daily_holdings_report[tax_year]['average']['average_eur_value_only_crypto'] | valuefilter }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
