{% for tax_year in tax_report|sort %}
    {% if tax_year in yearly_holdings_report %}
        <h1>Daily Holdings Report</h1>

        <h2 style="text-align: center;">{{ config.format_tax_year(tax_year) }}</h2>

        <!-- report giornaliero -->
        {% if tax_year in daily_holdings_report %}
        <table repeat="1" width="100%" class="asset-table">
            <thead>
                <tr>
                    <th align="left">Date</th>
                    <th align="right">BTC Balance (Crypto+Fiat)</th>
                    <th align="right">EUR Value (Crypto+Fiat)</th>
                    <th align="right">BTC Balance (Only Crypto)</th> <!-- Nuova colonna per solo criptovalute -->
                    <th align="right">EUR Value (Only Crypto)</th> <!-- Nuova colonna per solo criptovalute -->
                    <th align="right">Missing Price</th> <!-- Colonna per il prezzo mancante -->
                </tr>
            </thead>
            <tbody>
                {% for report_date, daily_data in daily_holdings_report[tax_year].items() if report_date != 'average' %}
                <tr 
                    {% if daily_data.missing_price %} class="warning" 
                    {% elif tax_year <= 2022 and daily_data.eur_value_only_crypto > 51645.69 %} class="highlight" 
                    {% endif %}>
                    <!-- Evidenzia se il valore EUR solo crypto è maggiore di 51.645,69 per anni fino al 2022 -->
                    <td align="left">{{ report_date | format_date("%d-%m-%Y") }}</td>
                    <td align="right">{{ daily_data.btc_balance | format_decimal }}</td>
                    <td align="right">{{ daily_data.eur_value | valuefilter }}</td>
                    <td align="right">{{ daily_data.btc_balance_only_crypto | format_decimal }}</td> <!-- BTC solo criptovalute -->
                    <td align="right">{{ daily_data.eur_value_only_crypto | valuefilter }}</td> <!-- EUR solo criptovalute -->
                    <td align="right">
                        {% if daily_data.missing_price %}
                        <span class="missing-price-icon">⚠️</span> <!-- Icona per prezzo mancante -->
                        {% else %}
                        No
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Giacenza Media -->
        <h3 style="font-size: 24px; text-align: center; margin-top: 30px; color: #2c3e50;">Average Balance</h3>

        <table width="100%" style="border-collapse: collapse; margin-top: 20px;">
            <thead>
                <tr>
                    <th align="left" style="padding: 10px; font-size: 18px; border-bottom: 2px solid #ddd;">Description</th>
                    <th align="right" style="padding: 10px; font-size: 18px; border-bottom: 2px solid #ddd;">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 10px; font-size: 16px; color: #34495e;">Average BTC Balance (Crypto+Fiat):</td>
                    <td align="right" style="padding: 10px; font-size: 16px; font-weight: bold;">{{ daily_holdings_report[tax_year]['average']['average_btc_balance'] | format_decimal }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-size: 16px; color: #34495e;">Average EUR Value (Crypto+Fiat):</td>
                    <td align="right" style="padding: 10px; font-size: 16px; font-weight: bold;">{{ daily_holdings_report[tax_year]['average']['average_eur_value'] | valuefilter }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-size: 16px; color: #34495e;">Average BTC Balance (Only Crypto):</td>
                    <td align="right" style="padding: 10px; font-size: 16px; font-weight: bold;">{{ daily_holdings_report[tax_year]['average']['average_btc_balance_only_crypto'] | format_decimal }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-size: 16px; color: #34495e;">Average EUR Value (Only Crypto):</td>
                    <td align="right" style="padding: 10px; font-size: 16px; font-weight: bold;">{{ daily_holdings_report[tax_year]['average']['average_eur_value_only_crypto'] | valuefilter }}</td>
                </tr>
            </tbody>
        </table>

        {% else %}
        <p>No daily holdings report available for the year {{ tax_year }}.</p>
        {% endif %}
    {% endif %}
{% endfor %}
