<h1>Tax Summary (Italy)</h1>

<p>
    <strong>Calcolo delle Sanzioni:</strong><br>
    La sanzione per il mancato versamento delle imposte sui capital gains è calcolata sul <strong>30% dell'imposta dovuta</strong>, con riduzioni applicate in base ai giorni di ritardo:
    <ul>
        <li><strong>Fino a 14 giorni di ritardo:</strong> sanzione pari allo <em>0,1% dell'imposta dovuta per ogni giorno di ritardo</em>.</li>
        <li><strong>Da 15 a 30 giorni di ritardo:</strong> sanzione pari a <em>1/10 del 30%</em> dell'imposta dovuta.</li>
        <li><strong>Da 31 a 90 giorni di ritardo:</strong> sanzione pari a <em>1/9 del 30%</em> dell'imposta dovuta.</li>
        <li><strong>Da 91 giorni a 1 anno (365 giorni) di ritardo:</strong> sanzione pari a <em>1/8 del 30%</em> dell'imposta dovuta.</li>
        <li><strong>Da 1 anno a 2 anni (730 giorni) di ritardo:</strong> sanzione pari a <em>1/7 del 30%</em> dell'imposta dovuta.</li>
        <li><strong>Oltre 2 anni di ritardo:</strong> sanzione pari a <em>1/6 del 30%</em> dell'imposta dovuta.</li>
    </ul>
    Per la mancata dichiarazione delle attività estere, la sanzione è calcolata sul valore delle attività non dichiarate:
    <ul>
        <li><strong>6%</strong> se le attività sono detenute in paesi <em>black list</em>.</li>
        <li><strong>3%</strong> se le attività sono detenute in altri paesi.</li>
    </ul>
    Anche in questo caso, si applicano riduzioni in base ai giorni di ritardo:
    <ul>
        <li><strong>Fino a 90 giorni di ritardo:</strong> sanzione ridotta a <em>1/6 della sanzione base</em>.</li>
        <li><strong>Da 91 giorni a 1 anno (365 giorni) di ritardo:</strong> sanzione ridotta a <em>1/5 della sanzione base</em>.</li>
        <li><strong>Da 1 anno a 2 anni (730 giorni) di ritardo:</strong> sanzione ridotta a <em>1/4 della sanzione base</em>.</li>
        <li><strong>Oltre 2 anni di ritardo:</strong> sanzione ridotta a <em>1/3 della sanzione base</em>.</li>
    </ul>
    <strong>Interessi di Mora:</strong><br>
    Gli interessi di mora sono calcolati su base giornaliera, considerando ogni anno di ritardo separatamente. Per ciascun anno, si applica il tasso di interesse specifico in base ai giorni di ritardo compresi in quell'anno. Le percentuali annuali sono:
    <ul>
        <li><strong>0,2%</strong> dal 01/01/2016 al 31/12/2016</li>
        <li><strong>0,1%</strong> dal 01/01/2017 al 31/12/2017</li>
        <li><strong>0,3%</strong> dal 01/01/2018 al 31/12/2018</li>
        <li><strong>0,8%</strong> dal 01/01/2019 al 31/12/2019</li>
        <li><strong>0,05%</strong> dal 01/01/2020 al 31/12/2020</li>
        <li><strong>0,01%</strong> dal 01/01/2021 al 31/12/2021</li>
        <li><strong>1,25%</strong> dal 01/01/2022 al 31/12/2022</li>
        <li><strong>5%</strong> dal 01/01/2023 al 31/12/2023</li>
        <li><strong>2,5%</strong> dal 01/01/2024 in poi</li>
    </ul>
    Il calcolo degli interessi avviene sommando gli interessi maturati in ciascun anno di ritardo, in base ai giorni di ritardo in quell'anno e al tasso di interesse applicabile.
</p>


<pdf:nextpage />

{% for tax_year in tax_report|sort %}
    {% if tax_year in yearly_holdings_report %}
        {% set cgains = tax_report[tax_year]['CapitalGains'] %}
        {% set margin = tax_report[tax_year]['MarginTrading'] %}
        {% set combined_total = tax_report[tax_year]['CombinedTotal'] %}
        {% set sanzione_imposta = tax_report[tax_year]['SanzioneImposta'] %}


<h2 style="text-align: center;">{{ config.format_tax_year(tax_year) }}</h2>

<h3>Capital Gain</h3>
<table repeat="1" width="100%" class="asset-table">
    <tr>
        <th align="left">Proceeds</th>
        <th align="left">Cost Basis</th>
        <th align="right">Gain or (Loss)</th>
        <th align="right">Tax (26%)</th>
        <th align="right">Penalty Due</th>
    </tr>
    <tr>
        <td align="left">{{ cgains.total_proceeds | valuefilter }}</td>
        <td align="left">{{ cgains.total_cost | valuefilter }}</td>

        {% if combined_total >= 0 %}
        <td align="right">{{ combined_total | valuefilter }}</td>
        {% else %}
        <td align="right" class="red-font">{{ combined_total | valuefilter }}</td>
        {% endif %}

        <td align="right">{{ (combined_total * decimal.Decimal('0.26')) | valuefilter }}</td>
        <td align="right">{{ sanzione_imposta.totale | valuefilter }}</td>
    </tr>
</table>

<h3>Holdings</h3>

        {% set threshold_report = yearly_holdings_report[tax_year].threshold_report | default(None) %}

<!-- Case where the threshold has been exceeded -->
        {% if tax_year <= 2022 and threshold_report is not none and threshold_report.exceeded_threshold %}
<div style="color: red;">
    <strong>Warning:</strong> The crypto holdings exceeded €51,645.69 for at least 7 consecutive working days in {{ config.format_tax_year(tax_year) }}.
</div>
<p>Consecutive working days above threshold: {{ threshold_report.consecutive_working_days }}</p>
<p>Days above threshold: Started day: {{ threshold_report.days_above_threshold[0][0] | format_date("%d-%m-%Y") }} with value: {{ threshold_report.days_above_threshold[0][1]|valuefilter }}</p>

<!-- Case where the threshold has not been exceeded -->
        {% elif tax_year <= 2022 and threshold_report is not none and not threshold_report.exceeded_threshold and threshold_report.missing_prices == False %}
<div style="color: green;">
    <strong>Notice:</strong> The crypto holdings did not exceed €51,645.69 for at least 7 consecutive working days (check does not include FIAT on exchanges).
</div>
        {% endif %}

<!-- Case where prices are missing and it cannot be determined whether the threshold has been exceeded -->
        {% if threshold_report is not none and threshold_report.missing_prices is not none %}
            {% if not threshold_report.exceeded_threshold and threshold_report.missing_prices == True %}
<div style="color: orange;">
    <strong>Notice:</strong> It was not possible to determine whether holdings exceeded €51,645.69 for at least 7 consecutive working days due to missing prices.
</div>
            {% endif %}
        {% endif %}

<table repeat="1" width="100%" class="asset-table">
    <thead>
        <tr>
            <th align="left">Asset</th>
            <th align="right">Qty Start</th>
            <th align="right">
                {% if tax_year == current_year %}
                Qty End {{ "today" | format_date("%d/%m") }}
                {% else %}
                Qty End
                {% endif %}
            </th>
            <th align="right">Avg Bal</th>
            <th align="right">Days Held</th>
            <th align="right">Val Start</th>
            <th align="right">
                {% if tax_year == current_year %}
                Val End {{ "today" | format_date("%d/%m") }}
                {% else %}
                Val End
                {% endif %}
            </th>
            {% if tax_year >= 2023 %}
            <th align="right">IVAFE (0.2%)</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for asset_symbol, asset_data in yearly_holdings_report[tax_year].assets.items() %}
        <tr>
            <td align="left">{{ asset_symbol }}</td>
            <td align="right">{{ asset_data.quantity_start_of_year | format_decimal }}</td>
            <td align="right">{{ asset_data.quantity_end_of_year | format_decimal }}</td>
            {% if asset_symbol == 'EUR' %}
            <td align="right">{{ asset_data.average_balance | valuefilter }}</td>
            {% else %}
            <td align="right">{{ asset_data.average_balance | format_decimal }}</td>
            {% endif %}
            <td align="right">{{ asset_data.days_held }}</td>
            <td align="right">{{ asset_data.value_in_fiat_start_of_year | valuefilter }}</td>
            {% if asset_data.value_in_fiat_at_end_of_year is not none %}
            <td align="right">{{ asset_data.value_in_fiat_at_end_of_year | valuefilter }}</td>
            {% if tax_year >= 2023 %}
            <td align="right">{{ (asset_data.value_in_fiat_at_end_of_year * decimal.Decimal('0.002')) | valuefilter }}</td>
            {% endif %}
            {% else %}
            <td align="right"><i>Not available</i></td>
            <td align="right"><i>Not available</i></td>
            {% if tax_year >= 2023 %}
            <td align="right"><i>Not available</i></td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="total-table">
    {% set dates = daily_holdings_report[tax_year].keys() | reject('equalto', 'average') | list | sort %}
    {% set start_date = dates[0] %}
    {% set end_date = dates[-1] %}
    <tr>
        <td align="left"><strong>Total</strong></td>
        <td align="right">B{{ daily_holdings_report[tax_year][start_date]['btc_balance'] | format_decimal }}</td>
        <td align="right">B{{ daily_holdings_report[tax_year][end_date]['btc_balance'] | format_decimal }}</td>
        <td align="right">B{{ daily_holdings_report[tax_year]['average']['average_btc_balance'] | format_decimal }}</td>
        <td></td>
        <td align="right"><strong>{{ yearly_holdings_report[tax_year].totals.total_value_in_fiat_start_of_year | valuefilter }}</strong></td>
        <td align="right"><strong>{{ yearly_holdings_report[tax_year].totals.total_value_in_fiat_at_end_of_year | valuefilter }}</strong></td>
        {% if tax_year >= 2023 %}
        <td align="right"><strong>{{ (yearly_holdings_report[tax_year].totals.total_value_in_fiat_at_end_of_year * decimal.Decimal('0.002')) | valuefilter }}</strong></td>
        {% endif %}
    </tr>
</table>

<h3>Sanzioni</h3>
<table width="100%" class="asset-table">
    <tr>
        <th align="left">Tipo di Sanzione</th>
        <th align="right">Importo</th>
        <th align="right">Interessi di Mora</th>
        <th align="right">Totale</th>
    </tr>
    <tr>
        <td align="left">Capital Gain Non Dichiarato</td>
        <td align="right">{{ sanzione_imposta.sanzione | default(0) | valuefilter }}</td>
        <td align="right">{{ sanzione_imposta.interessi_di_mora | default(0) | valuefilter }}</td>
        <td align="right">{{ sanzione_imposta.totale | default(0) | valuefilter }}</td>
    </tr>
    <tr>
        <td align="left">Detenzione all'Estero Non Dichiarata (Quadro RW)</td>
        <td align="right">{{ yearly_holdings_report[tax_year].totals.penalty_due_rw.sanzione | default(0) | valuefilter }}</td>
        <td align="right">{{ yearly_holdings_report[tax_year].totals.penalty_due_rw.interessi_di_mora | default(0) | valuefilter }}</td>
        <td align="right">{{ yearly_holdings_report[tax_year].totals.penalty_due_rw.totale | default(0) | valuefilter }}</td>
    </tr>
</table>

<br>

<!-- Dettagli Calcolo Sanzione per Capital Gain Non Dichiarato -->
<h4 style="font-size: 0.8em;">Dettagli Calcolo per Capital Gain Non Dichiarato</h4>
<p style="font-size: 0.8em;"><strong>Dettaglio Calcolo Sanzione:</strong></p>
<ul>
    {% for dettaglio in sanzione_imposta.dettagli_calcolo_sanzione %}
    <li style="font-size: 0.8em;">{{ dettaglio }}</li>
    {% endfor %}
</ul>
<p style="font-size: 0.8em;"><strong>Dettaglio Calcolo Interessi di Mora:</strong></p>
<ul>
    {% for dettaglio in sanzione_imposta.dettagli_calcolo_interessi %}
    <li style="font-size: 0.8em;">{{ dettaglio }}</li>
    {% endfor %}
</ul>

<!-- Dettagli Calcolo Sanzione per Detenzione all'Estero Non Dichiarata -->
<h4 style="font-size: 0.8em;">Dettagli Calcolo per Detenzione all'Estero Non Dichiarata (Quadro RW)</h4>
<p style="font-size: 0.8em;"><strong>Dettaglio Calcolo Sanzione:</strong></p>
<ul>
    {% for dettaglio in yearly_holdings_report[tax_year].totals.penalty_due_rw.dettagli_calcolo_sanzione %}
    <li style="font-size: 0.8em;">{{ dettaglio }}</li>
    {% endfor %}
</ul>
<p style="font-size: 0.8em;"><strong>Dettaglio Calcolo Interessi di Mora:</strong></p>
<ul>
    {% for dettaglio in yearly_holdings_report[tax_year].totals.penalty_due_rw.dettagli_calcolo_interessi %}
    <li style="font-size: 0.8em;">{{ dettaglio }}</li>
    {% endfor %}
</ul>


<pdf:nextpage />

    {% endif %}
{% endfor %}

<h2>Riepilogo Totale da Pagare per Anno</h2>
<table width="100%" class="asset-table">
    <tr>
        <th align="left">Anno</th>
        <th align="right">Imposte 26%</th>
        <th align="right">Sanzione CG Non Dichiarato</th>
        <th align="right">Sanzione (RW)</th>
        <th align="right">Totale da Pagare</th>
    </tr>
    <!-- Inizializza un namespace per le somme totali -->
    {% set ns = namespace(
    total_taxes_sum=decimal.Decimal('0'),
    sanzione_cg_sum=decimal.Decimal('0'),
    sanzione_rw_sum=decimal.Decimal('0'),
    total_due_sum=decimal.Decimal('0')
    ) %}
    {% for tax_year in tax_report|sort %}
    {% if tax_year in yearly_holdings_report %}
    {% set combined_total = tax_report[tax_year]['CombinedTotal'] %}
    {% set total_taxes = combined_total * decimal.Decimal('0.26') %}
    {% set sanzione_cg = tax_report[tax_year]['SanzioneImposta'].totale %}
    {% set sanzione_rw = yearly_holdings_report[tax_year].totals.penalty_due_rw.totale %}
    {% set total_due = total_taxes + sanzione_cg + sanzione_rw %}

    <!-- Aggiorna le somme totali utilizzando il namespace -->
    {% set ns.total_taxes_sum = ns.total_taxes_sum + total_taxes %}
    {% set ns.sanzione_cg_sum = ns.sanzione_cg_sum + sanzione_cg %}
    {% set ns.sanzione_rw_sum = ns.sanzione_rw_sum + sanzione_rw %}
    {% set ns.total_due_sum = ns.total_due_sum + total_due %}

    <tr>
        <td align="left">{{ config.format_tax_year(tax_year) }}</td>
        <td align="right">{{ total_taxes | valuefilter }}</td>
        <td align="right">{{ sanzione_cg | valuefilter }}</td>
        <td align="right">{{ sanzione_rw | valuefilter }}</td>
        <td align="right"><strong>{{ total_due | valuefilter }}</strong></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<table class="total-table">
    <tr>
        <td align="left"><strong>Totale</strong></td>
        <td align="right"><strong>{{ ns.total_taxes_sum | valuefilter }}</strong></td>
        <td align="right"><strong>{{ ns.sanzione_cg_sum | valuefilter }}</strong></td>
        <td align="right"><strong>{{ ns.sanzione_rw_sum | valuefilter }}</strong></td>
        <td align="right"><strong>{{ ns.total_due_sum | valuefilter }}</strong></td>
    </tr>
</table>

