{% for tax_year in tax_report|sort %}
    {% if tax_year in yearly_holdings_report %}
        {% set cgains = tax_report[tax_year]['CapitalGains'] %}
        {% set margin = tax_report[tax_year]['MarginTrading'] %}

<h1>Tax Summary (Italy)</h1>
<h4>{{ config.get_tax_year_start(tax_year)|format_date("%d/%m") }} to {{ config.get_tax_year_end(tax_year)|format_date("%d/%m") }}</h4>
<h2>{{ config.format_tax_year(tax_year) }}</h2>

<h3>Capital Gain</h3>

        {% set short_term_totals = cgains['short_term_totals'] %}
        {% set long_term_totals = cgains['long_term_totals'] %}

        {% set total_proceeds = short_term_totals['proceeds'] + long_term_totals['proceeds'] %}
        {% set total_cost = short_term_totals['cost'] + long_term_totals['cost'] %}
        {% set total_gain = short_term_totals['gain'] + long_term_totals['gain'] %}

<table repeat="1" width="100%" class="asset-table">
    <tr>
        <th align="left">Proceeds</th>
        <th align="left">Cost Basis</th>
        <th align="right">Gain or (Loss)</th>
        <th align="right">Tax (26%)</th>
    </tr>
    <tr>
        <td align="left">{{ total_proceeds|valuefilter }}</td>
        <td align="left">{{ total_cost|valuefilter }}</td>
        {% set total_gain_margin = total_gain + margin.totals['gains'] - margin.totals['losses'] %}
        {% if total_gain_margin >= 0 %}
        <td align="right">{{ total_gain_margin|valuefilter }}</td>
        {% else %}
        <td align="right" class="red-font">{{ total_gain_margin|valuefilter }}</td>
        {% endif %}
        <td align="right">{{ (total_gain_margin * decimal.Decimal('0.26'))|valuefilter }}</td>
    </tr>
</table>

<h3>Holdings</h3>

        {% set threshold_report = yearly_holdings_report[tax_year].threshold_report | default(None) %}

        {% if tax_year <= 2022 and threshold_report is not none and threshold_report.exceeded_threshold %}
<div style="color: red;">
    <strong>Warning:</strong> The crypto holdings exceeded €51,645.69 for at least 7 consecutive working days in {{ config.format_tax_year(tax_year) }}.
</div>
<p>Consecutive working days above threshold: {{ threshold_report.consecutive_working_days }}</p>
<p>Days above threshold:</p>
<ul>
    {% for day in threshold_report.days_above_threshold %}
    <li>{{ day | format_date("%d-%m-%Y") }}</li>
    {% endfor %}
</ul>
        {% endif %}

{% if threshold_report is not none and threshold_report.missing_prices is not none %}
    {% if threshold_report.missing_prices == True %}
        <div style="color: orange;">
            <strong>Notice:</strong> It was not possible to determine whether holdings exceeded €51,645.69 for at least 7 consecutive working days.
        </div>
    {% elif threshold_report.missing_prices|length > 0 %}
        <div style="color: orange;">
            <strong>Notice:</strong> The following assets had missing prices, so their value could not be calculated:
            <ul>
                {% for asset, date in threshold_report.missing_prices %}
                    <li>{{ asset }} on {{ date | format_date("%d-%m-%Y") }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}


<table repeat="1" width="100%" class="asset-table">
    <thead>
        <tr>
            <th align="left">Asset</th>
            <th align="right">Quantity at {{ config.get_tax_year_end(tax_year) | format_date("%d/%m") }}</th>
            <th align="right">Average Balance</th>
            <th align="right">Value (Fiat) at {{ config.get_tax_year_end(tax_year) | format_date("%d/%m") }}</th>
            <th align="right">Days Held</th>
            {% if tax_year >= 2023 %}
            <th align="right">IVAFE (0.2%)</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for asset_symbol, asset_data in yearly_holdings_report[tax_year].assets.items() %}
        <tr>
            <td align="left">{{ asset_symbol }}</td>
            <td align="right">{{ asset_data.quantity_end_of_year | format_decimal }}</td>
            <td align="right">{{ asset_data.average_balance | format_decimal }}</td>
            {% if asset_data.value_in_fiat_at_end_of_year is not none %}
            <td align="right">{{ asset_data.value_in_fiat_at_end_of_year | valuefilter }}</td>
            <td align="right">{{ asset_data.days_held }}</td>
            {% if tax_year >= 2023 %}
            <td align="right">{{ (asset_data.value_in_fiat_at_end_of_year * decimal.Decimal('0.02')) | valuefilter }}</td>
            {% endif %}
            {% else %}
            <td align="right"><i>Not available</i></td>
            <td align="right"><i>Not available</i></td>
            {% if tax_year >= 2023 %}
            <td align="right"><i>Not available</i></td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="total-table">
    <tr>
        <td align="left"><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td align="right"><strong>{{ yearly_holdings_report[tax_year].totals.total_value_in_fiat_at_end_of_year | valuefilter }}</strong></td>
        {% if tax_year >= 2023 %}
        <td align="right"><strong>{{ (yearly_holdings_report[tax_year].totals.total_value_in_fiat_at_end_of_year * decimal.Decimal('0.02')) | valuefilter }}</strong></td>
        {% endif %}
    </tr>
</table>
    {% else %}
<p>No data available for the year {{ tax_year }}.</p>
    {% endif %}
{% endfor %}
